$info: #4361ee;
$info-dark: #3f37c9;
$info-secondary: #4895ef;
$primary: #7209b7;
$primary-dark: #3a0ca3;
$secondary: #b5179e;

.inv-text-primary {
  color: $primary;
}

.inv-text-secondary {
  color: $secondary;
}

.inv-text-info {
  color: $info;
}

.inv-dark-primary {
  color: $primary-dark;
}

.inv-dark-info {
  color: $info-dark;
}
