<div class="row flex-column-reverse flex-lg-row h-100 no-gutters">
  <div class="col-12 col-lg-8 form">
    <h3 class="inv-text-secondary mb-3">Editar producto</h3>
    <form class="row no-gutters" [formGroup]="editForm">
      <div class="col-12 col-lg-2 fit-content px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Tienda</label>
        <select formControlName="tienda" class="custom-select" (change)="getItems()">
          <option value="tienda1">Tienda 1</option>
          <option value="tienda2">Tienda 2</option>
          <option value="tienda3">Tienda 3</option>
        </select>
      </div>
      <div class="col-12 col-lg-6 fit-content px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">
          Producto
          <div class="spinner-border inv-text-primary mx-2" role="status" *ngIf="loadingStatus === 'loading-products'">
            <span class="sr-only">Loading...</span>
          </div>
        </label>
        <select formControlName="productoId" class="custom-select" (change)="setProductToEdit()">
          <option *ngFor="let product of productList" [value]="product.id">{{product.nombre}}</option>
        </select>
      </div>
    </form>
    <form class="row no-gutters" [formGroup]="Form" (ngSubmit)="saveProduct()">
      <div class="col-12 col-lg-6 fit-content">
        <label class="custom-col-label text-secondary">Escoger tienda</label>
        <div class="btn-group btn-group-toggle custom-btn-group btn-block" data-toggle="buttons">
          <label class="btn btn-primary-inv" [ngClass]="{'active': this.Form.get('tienda').value === 'tienda1'}">
            <input formControlName="tienda"
                   type="radio"
                   name="tienda"
                   id="tienda1"
                   value="tienda1">

            <i class="fa fa-shopping-basket mr-1"></i>
            <small class="text-uppercase">Tienda 1</small>
          </label>
          <label class="btn btn-primary-inv" [ngClass]="{'active': this.Form.get('tienda').value === 'tienda2'}">
            <input formControlName="tienda"
                   type="radio"
                   name="tienda"
                   id="tienda2"
                   value="tienda2">
            <i class="fa fa-shopping-basket mr-1"></i>
            <small class="text-uppercase">Tienda 2</small>
          </label>
          <label class="btn btn-primary-inv" [ngClass]="{'active': this.Form.get('tienda').value === 'tienda3'}">
            <input formControlName="tienda"
                   type="radio"
                   name="tienda"
                   id="tienda3"
                   value="tienda3">
            <i class="fa fa-shopping-basket mr-1"></i>
            <small class="text-uppercase">Tienda 3</small>
          </label>
        </div>
      </div>
      <div class="col-12 col-lg-4 fit-content px-lg-1">
        <label class="custom-col-label text-secondary">Tipo de producto</label>
        <select formControlName="tipo" class="custom-select">
          <option value="abrigo">Abrigo</option>
          <option value="pantalones">Pantalones</option>
          <option value="zapatos">Zapatos</option>
        </select>
      </div>
      <div class="form-group custom-form col-12 col-lg-2">
        <label class="custom-col-label text-secondary">Precio</label>
        <input mask="0*.00" formControlName="precio" type="text" class="form-control" aria-label="Precio">
      </div>
      <div class="form-group custom-form col-12 col-lg-6 px-lg-1">
        <label class="custom-col-label text-secondary">Nombre de producto</label>
        <input formControlName="nombre" type="text" class="form-control" placeholder="*"
               aria-label="Nombre de producto">
      </div>
      <div class="form-group custom-form col-12 col-lg-2 px-lg-1">
        <label class="custom-col-label text-secondary">Marca</label>
        <input formControlName="marca" type="text" class="form-control" placeholder="*" aria-label="Marca">
      </div>
      <div class="form-group custom-form col-12 col-lg-2 px-lg-1">
        <label class="custom-col-label text-secondary">Stock inicial</label>
        <input mask="0*" formControlName="stockInicial" type="text" class="form-control" placeholder="*"
               aria-label="Stock Inicial">
      </div>
      <div class="form-group custom-form col-12 col-lg-2">
        <label class="custom-col-label text-secondary">Stock actual</label>
        <input mask="0*" formControlName="stockActual" type="text" class="form-control" placeholder="*"
               aria-label="Stock Actual">
      </div>
      <div class="col-12 col-lg-6 fit-content">
        <label class="custom-col-label text-secondary">Genero</label>
        <div class="btn-group btn-group-toggle custom-btn-group btn-block" data-toggle="buttons">
          <label class="btn btn-primary-inv" [ngClass]="{'active': this.Form.get('genero').value === 'hombre'}">
            <input formControlName="genero"
                   type="radio"
                   name="genero"
                   id="hombre"
                   value="hombre">

            <i class="fa fa-male mr-1"></i>
            <small class="text-uppercase">Hombre</small>
          </label>
          <label class="btn btn-primary-inv" [ngClass]="{'active': this.Form.get('genero').value === 'mujer'}">
            <input formControlName="genero"
                   type="radio"
                   name="genero"
                   id="mujer"
                   value="mujer">

            <i class="fa fa-female mr-1"></i>
            <small class="text-uppercase">Mujer</small>
          </label>
        </div>
      </div>
      <div class="col-12 col-lg-4 fit-content px-lg-1">
        <label class="custom-col-label text-secondary">Color</label>
        <select formControlName="color" class="custom-select">
          <option value="rojo">Rojo</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
        </select>
      </div>
      <div class="form-group custom-form col-12 col-lg-2">
        <label class="custom-col-label text-secondary">Tamaño</label>
        <input [mask]="(Form.get('tipo').value !== 'zapatos' ? 'S*' : '0*')" formControlName="tamano" type="text"
               class="form-control" placeholder="*" aria-label="Tamaño">
      </div>
      <div class="col-12 col-lg-4 mt-3">
        <button type="submit" class="btn btn-block btn-success border rounded-pill"
                [disabled]="Form.invalid || loadingStatus === 'saving-update'">
          <span *ngIf="loadingStatus !== 'saving-update'">
            Guardar
          </span>
          <span *ngIf="loadingStatus === 'saving-update'">
            <div class="spinner-border text-white" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
        </button>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-4 form bg-light px-lg-3">
    <h3 class="inv-text-secondary mb-4">Subir foto</h3>
    <div class="input-group d-flex justify-content-center my-4">
      <div class="custom-file">
        <img src="./assets/img/download-img.png" alt="download-img">
        <input (change)="loadImage($event)" type="file" class="custom-file-input" id="inputGroupFile01" [disabled]="disableImage"
               aria-describedby="inputGroupFileAddon01">
      </div>
    </div>
    <h6 class="text-center my-2" *ngIf="!productImage">Selecione imagen de producto</h6>
    <h6 class="text-center my-2" *ngIf="productImage">{{'Imagen de producto: ' + productImage.nombreArchivo}}</h6>
  </div>
</div>
