<div class="row flex-column-reverse flex-lg-row h-100 no-gutters">
  <div class="col-12 form">
    <h3 class="inv-text-secondary mb-3">Registrar venta</h3>
    <form class="row no-gutters" [formGroup]="Form" (ngSubmit)="registerSale()">
      <div class="form-group custom-form col-12 col-lg-3 mb-2">
        <label class="custom-col-label text-secondary">Número de venta</label>
        <input appOnlyNumbers formControlName="numeroVenta" type="text" class="form-control" aria-label="Número de venta">
      </div>
      <div class="col-12 col-lg-2 fit-content px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Tienda</label>
        <select formControlName="tienda" class="custom-select" (change)="getItems()">
          <option value="tienda1">Tienda 1</option>
          <option value="tienda2">Tienda 2</option>
          <option value="tienda3">Tienda 3</option>
        </select>
      </div>
      <div class="col-12 col-lg-6 fit-content px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Producto</label>
        <select formControlName="productoId" class="custom-select">
          <option *ngFor="let product of productList" [value]="product.id">{{product.nombre + ' (Stock: ' + product.stockActual + ')'}}</option>
        </select>
      </div>
      <div class="form-group custom-form col-12 col-lg-1 px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Cantidad vendida</label>
        <input appOnlyNumbers formControlName="cantidad" type="text" class="form-control" aria-label="Cantidad">
      </div>
      <div class="col-12 col-lg-5 fit-content mb-2">
        <label class="custom-col-label text-secondary">Metodo de pago</label>
        <div class="btn-group btn-group-toggle custom-btn-group btn-block" data-toggle="buttons">
          <label class="btn btn-primary-inv">
            <input formControlName="metodoPago" (change)="enableCard()"
                   type="radio"
                   name="metodoPago"
                   id="efectivo"
                   value="efectivo">

            <i class="fa fa-money mr-1"></i>
            <small class="text-uppercase">Efectivo</small>
          </label>
          <label class="btn btn-primary-inv">
            <input formControlName="metodoPago" (change)="enableCard()"
                   type="radio"
                   name="metodoPago"
                   id="tarjeta"
                   value="tarjeta">

            <i class="fa fa-credit-card mr-1"></i>
            <small class="text-uppercase">Tarjeta</small>
          </label>
        </div>
      </div>
      <div class="form-group custom-form col-12 col-lg-4 px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Tarjeta</label>
        <input appOnlyNumbers formControlName="tarjeta" type="text" class="form-control" aria-label="Cantidad">
      </div>
      <div class="form-group custom-form col-12 col-lg-3 px-lg-1 mb-2">
        <label class="custom-col-label text-secondary">Total del pago</label>
        <input appOnlyNumbers formControlName="totalPago" type="text" class="form-control" aria-label="Cantidad">
      </div>
      <div class="col-12 mb-2" *ngIf="errorText">
        <h6 class="inv-text-secondary">{{errorText}}</h6>
      </div>
      <div class="col-12 col-lg-3 mb-2 mt-3">
        <button type="submit" class="btn btn-block btn-success border rounded-pill" [disabled]="Form.invalid">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
