@import '~assets/scss/mixins';

.form {
  height: 100%;
  padding-top: 40px;

  @include min-width-992 {
    padding-top: 80px;
  }
}

.row .no-gutters {
  .col-12 {
    margin-bottom: 10px;
  }
}

.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center;
}

.custom-file {
  position: relative;
  max-width: 130px;
  height: 150px;

  input {
    cursor: pointer;
    width: 130px;
    height: 150px;
    opacity: 0;
    position: absolute;
    z-index: 9;
    left: 0;
  }

  img, img:hover {
    width: 130px;
    height: 150px;
  }
}
