@import '~assets/scss/mixins';

.form {
  height: 100%;
  padding-top: 40px;

  @include min-width-992 {
    padding-top: 80px;
  }
}

.row .no-gutters {
  .col-12 {
    margin-bottom: 10px;
  }
}

.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center;
}
